.overlay-button-1 {
    width: 300px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(65%, -1300%);
    border-radius: 25px 25px;
}
.overlay-button-2 {
    width: 300px; 
    height: 40px; 
    top: 50%; 
    left: 50%; 
    transform: translate(65%, -1250%);
    border-radius: 25px 25px;
}
.overlay-button-3 {
    width: 300px; 
    height: 40px; 
    top: 50%; 
    left: 50%; 
    transform: translate(65%, -1210%);
    border-radius: 25px 25px;
}
